	.book_name {
		background-color: #B9EF79;
	}
	.bold_column {
		font-size: 14px;
		font-family: Verdana, Arial;
		font-weight: bold;
	}
	.desc_column {
		font-size: 14px;
		font-family: Verdana, Arial;
	}
	.icons {
		width:32px;
		height:32px;
		margin: auto;
		border-radius:15%;
		overflow:hidden;
	}

	.styled-background { background-color: #ff7; }
	.active_icon {
		background-color: rgba(0,0,255,1);
		color : white;
	}
	.ui_toolbar_icon {
		padding:10px;
	}

	.tooltipWrapper {
		position:absolute;
		visibility:hidden;
		overflow:visible;
		z-index:9999999999;
		top:-2000px;
		display: block; 
		padding: 16px; 
		opacity: 0.5;
		transition: all 200ms;
	}
	.tooltipHint {
		line-height:16px;
		border-width: 1px;   
		border-color:#BBB;
		padding:6px;
		font-size: 12px;
		font-family: Verdana, Arial;
		border-radius:6px;
		color:rgba(0,0,0,1); 
		background:rgba(127,127,127,0.5);
		box-shadow: 0 1px 8px rgba(0,0,0,1);
		float:left;
		border-style:solid;
		position:relative;
		overflow:hidden;
		box-sizing:content-box;
	}
	.tooltipInner{
		top: auto; 
		left: auto; 
		transition: all 200ms; 
		opacity: 1;
		float:left;
		position:relative;
		width:auto;
		height:auto;
	}
	.dialogOverlay{
		background-color: rgba(255,255,255,0.8);
		top:0;
		left:0;
		width:100%;
		height: 100%;
		overflow:visible;
		z-index:4; 	
		position: fixed; 
		display: block;
	}
	.dialogWrapper {
		position:absolute;
		visibility:hidden;
		overflow:visible;
		z-index:9999999999;
		top:-2000px;
		display: block; 
		padding: 16px; 
		opacity: 1;
		transition: all 200ms;
	}
	.dialogHint {
		line-height:16px;
		border-width: 1px;   
		border-color:#BBB;
		padding:20px;
		font-size: 12px;
		font-family: Verdana, Arial;
		border-radius:6px;
		color:rgba(0,0,0,1); 
		background:rgba(255,255,255,1);
		box-shadow: 0 1px 8px rgba(0,0,0,1);
		float:left;
		border-style:solid;
		position:relative;
		overflow:hidden;
		box-sizing:content-box;
	}
	.dialogInner{
		top: auto; 
		left: auto; 
		transition: all 200ms; 
		opacity: 1;
		float:left;
		position:relative;
		width:auto;
		height:auto;
	}
#floatBarsG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.floatBarsG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_floatBarsG;
		-o-animation-name:bounce_floatBarsG;
		-ms-animation-name:bounce_floatBarsG;
		-webkit-animation-name:bounce_floatBarsG;
		-moz-animation-name:bounce_floatBarsG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}

#floatBarsG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#floatBarsG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#floatBarsG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#floatBarsG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#floatBarsG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#floatBarsG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#floatBarsG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#floatBarsG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_floatBarsG{
	0%{
		transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_floatBarsG{
	0%{
		-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_floatBarsG{
	0%{
		-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_floatBarsG{
	0%{
		-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_floatBarsG{
	0%{
		-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}	  
